fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-dotenv>=1.0.1
requests>=2.31.0
langchain>=0.2.6
langchain-google-genai>=1.0.7
langchain-community>=0.2.6
faiss-cpu>=1.9.0
tiktoken>=0.7.0
pydantic>=2.9.0
langchain-groq>=0.1.6
